<form method="POST" action="do_register">
  <label for="email">Email</label>
  <input type="text" name="email" id="email"/><br/>
  <label for="password">Password</label>
  <input type="text" name="password" id="password"/><br/>
  <label for="password_confirmation">Password Confirmation</label>
  <input type="text" name="password_confirmation" id="password_confirmation"/><br/>
  <div class="clear"/>
  <input type="submit" value="Register"/>
</form>
