name: Ruby

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [2.3.8, 2.4.10, 2.5.9, 2.6.10, 2.7.6, 3.0.4, 3.1.2]
        gem-version: [3.3.15]
        include:
          - ruby-version: 2.3.8
            gem-version: 2.7.11
          - ruby-version: 2.4.10
            gem-version: 2.7.11
          - ruby-version: 2.5.9
            gem-version: 2.7.11
          # Test with RubyGems 2.4.8 as it is specified in gemspec
          - ruby-version: 2.3.8
            gem-version: 2.4.8
            continue-on-error: true
          - ruby-version: 2.4.10
            gem-version: 2.4.8
            continue-on-error: true
          - ruby-version: 2.5.9
            gem-version: 2.4.8
            continue-on-error: true
          - ruby-version: 2.6.10
            gem-version: 2.4.8
            continue-on-error: true
          - ruby-version: 2.7.6
            gem-version: 2.4.8
            continue-on-error: true

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1.110.0
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Use RubyGems with the specific version
      env:
        gemver: ${{ matrix.gem-version }}
      run: |
        gem update --system $gemver
        gem --version
    # TODO: remove this step when RubyGems 2.4 support is dropped
    # Use Bundler 1.17 when using RubyGems 1.x and 2.0-2.4
    - name: Install Bundler 1.x for RubyGems 2.4
      if: startsWith(matrix.gem-version, '2.4')
      run: |
        gem uninstall bundler
        gem install bundler --version "< 2"
        sed -i -e "/^BUNDLED WITH/ {n; s/.*/  1.17.3/} " Gemfile.lock
    - name: Run tests
      run: bundle exec rake
      continue-on-error: ${{ matrix.continue-on-error }}

  rubocop:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1.110.0
      with:
        ruby-version: 3.1.2
    - name: Run RuboCop
      run: |
        bundle add rubocop --version 1.31.0
        bundle add rubocop-minitest --version 0.20.1
        bundle add rubocop-rake --version 0.6.0
        bundle exec rubocop
