name: Ruby

on:
  push:
    branches: [ 1.4.x ]
  pull_request:
    branches: [ 1.4.x ]

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ruby-version: [2.3.8, 2.4.10, 2.5.9, 2.6.10, 2.7.6, 3.0.4, 3.1.2]
        gem-version: [3.3.15]
        include:
          - ruby-version: 2.2.10
            gem-version: 2.7.11
          - ruby-version: 2.3.8
            gem-version: 2.7.11
          - ruby-version: 2.4.10
            gem-version: 2.7.11
          - ruby-version: 2.5.9
            gem-version: 2.7.11

    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1.110.0
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Use RubyGems with the specific version
      env:
        gemver: ${{ matrix.gem-version }}
      run: |
        gem update --system $gemver
        gem --version
    - name: Run tests
      run: bundle exec rake
